.example-gifs{
    margin: 5px;
    width: 95%;
}

.han-columns{
    text-align: center;
}

.han-row{
    margin: 0 auto;
}

.messeges{
    text-align: center;
    font-size: 2em;
    margin-top:15px;
}